.page-bag__wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
  .page-bag__title{
    margin-top: 170px;
    background-color: #f6f5f5;
    padding: 30px 100px;
    border-radius: 14px;
  }